<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= game.home_team %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= game.home_team_id %>
  </p>

  <p>
    <strong>Guest team:</strong>
    <%= game.guest_team %>
  </p>

  <p>
    <strong>Guest team:</strong>
    <%= game.guest_team_id %>
  </p>

  <p>
    <strong>Home team score:</strong>
    <%= game.home_team_score %>
  </p>

  <p>
    <strong>Guest team score:</strong>
    <%= game.guest_team_score %>
  </p>

  <p>
    <strong>Play at:</strong>
    <%= game.play_at %>
  </p>

  <p>
    <strong>Division name:</strong>
    <%= game.division_name %>
  </p>

</div>
